.ItemCount {
    display:flex;
    justify-content: center;
    align-content: center;
    color: #17407c;
    flex:1;

    margin-top: 5px;
}

.ItemCount__count{
    flex:1;
    font-size: 4em;
    font-weight: bold;
}

.ItemCount__subtle {
    font-size: 0.8em;
    opacity: 0.8;
}